body{
    background:linear-gradient(to right, #4169e1, #001f66);
    color:white;
    font-family:Arial;
    margin:0;
}

.navbar{
    background:#001f66;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar a{
    color:white;
    margin:0 10px;
    text-decoration:none;
    font-weight:bold;
}

.container{
    width:25%;
    margin:50px auto;
    text-align:center;
}

.card{
    background:#0039b3;
    padding:25px;
    border-radius:20px;
}

input, select{
    width:60%;
    padding:10px;
    margin:10px auto;
    display:block;
    border-radius:30px;
    border:none;
    text-align:center;
}

button{
    padding:10px 20px;
    border-radius:30px;
    border:none;
    background:white;
    color:royalblue;
    cursor:pointer;
}

button:hover{
    background:red;
    color:white;
    font-style:italic;
}

.link{
    display:block;
    margin-top:10px;
    color:#ddd;
}

.link:hover{
    color:white;
}
